{% extends './components/header.html'%} {% block main %}
<div class="ui grid">
	<div class="four wide column"></div>
		<div class="eight wide column">
			<form id="signupForm" class="ui form segment" method="post" enctype="multipart/form-data" onsubmit="return checkSignupForm()">
				<div class="field required">
					<label>用户名</label>
					<input placeholder="用户名(1~10)" type="text" name="name" autofocus />
				</div>
				<div class="field required">
					<label>密码</label>
					<input placeholder="密码(>6)" type="password" name="password" />
				</div>
				<div class="field required">
					<label>重复密码</label>
					<input placeholder="重复密码" type="password" name="repassword" >
				</div>
				<div class="field required">
					<label>性别</label>
					<select class="ui compact selection dropdown" name="gender" >
						<option value="m">男</option>
						<option value="f">女</option>
						<option value="x">保密</option>
					</select>
				</div>
				<div class="field required">
					<label>头像</label>
					<input type="file" name="avatar" value="选择文件" />
				</div>
				<div class="field required">
					<label>个人简介</label>
					<textarea name="bio" rows="5" v-model="user.bio" ></textarea>
				</div>
				<input class="ui button fluid" type="submit" value="注册"  cancelable>
			</form>
		</div>
</div>
{% endblock %}